.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}
.chart-container{
    background-color: #EEEEEE;
}

.bar-chart-label, .chart-label {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #cccccc;
}

.bar-chart .bar:hover {
    fill: blue;
}

.bar-chart .axis {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.bar-chart .axis text {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;

}

.bar-chart > .axis.x .tick line {
    display: none;
}

.bar-chart > .axis.x .tick line {
    display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

